.contacts__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: $dark-blue;
}

.contacts__text {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: $dark-blue;
}

.contacts__phone,
.contacts__email,
.contacts__address {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: $pink;
}
