.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: 660px) {
    max-width: 620px;
  }

  @media (min-width: 1200px) {
    max-width: 940px;
    margin: 0 auto;
    padding: 0;
  }
}
