.fieldset-radio {
  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.fieldset-checkbox__label,
.fieldset-radio__label {
  font-size: 18px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.fieldset-checkbox__input,
.fieldset-radio__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.fieldset-checkbox__input + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.fieldset-checkbox__input + label .fieldset-checkbox__icon-yes {
  display: none;
}

.fieldset-checkbox__input + label::before {
  content: "";
  display: inline-block;
  background-color: $white;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  width: 35px;
  height: 35px;
  margin-right: 31px;
  vertical-align: middle;
}

.fieldset-checkbox__input:checked + label .fieldset-checkbox__icon-yes {
  position: absolute;
  display: block;
  width: 22px;
  height: 16px;
  fill: $pink;
  top: 10px;
  left: 9px;
}

.fieldset-checkbox__input + label:hover::before {
  border: 2px solid #283645;
}

.fieldset-checkbox__input + label:active::before {
  border: 2px solid #d22856;
}

.fieldset-checkbox .form__list {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
