.fieldset-radio__input + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  position: relative;
  cursor: pointer;
}

.fieldset-radio__input + label::before {
  content: "";
  display: inline-block;
  background-color: $white;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  width: 37px;
  height: 37px;
  margin-right: 31px;
  vertical-align: middle;
}

.fieldset-radio__input + label::after {
  content: "";
  position: absolute;
  background-color: $pink;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 11px;
  left: 11px;
  opacity: 0;
}

.fieldset-radio__input:checked + label::after {
  opacity: 1;
}
