.form__fieldset {
  border: 0 none;
}

.fieldset-checkbox,
.fieldset-radio {
  background-color: $light-grey;
}

.form__label {
  color: $pink;
  text-transform: uppercase;
}

.form__input {
  font-size: 18px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-right: 78px;
  padding-left: 20px;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
}

.form__legend {
  line-height: 18px;
  text-transform: uppercase;
  color: $pink;
}

.fieldset-checkbox__label,
.fieldset-radio__label {
  font-size: 18px;
}

input::placeholder,
textarea::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: $dark-blue;
}

.form__btn {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: $white;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-right: 45px;
  padding-left: 45px;
  background-color: $green-btn;
  border: 2px solid $green-btn;
  border-radius: 1px;
}

.page-main__desc {
  text-transform: uppercase;
}

.page-main__desc span {
  color: $pink;
}
