.form {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.form__group {
  @media (min-width: $tablet-width) {
    &--name {
      order: 1;
    }

    &--checkbox {
      order: 4;
    }

    &--contact {
      order: 3;
    }

    &--radio {
      order: 2;
    }

    &--textarea {
      order: 5;
    }

    &--button {
      order: 6;
    }
  }

  @media (min-width: $desktop-width) {
    &--name {
      width: 433px;
    }

    &--radio {
      width: 431px;
      position: absolute;
      left: 637px;
    }
  }
}

.form__fieldset {
  border: 0 none;

  &--border {
    @media (min-width: $tablet-width) {
      border: 2px solid #e5e5e5;
      border-radius: 1px;
      padding-right: 60px;
      padding-left: 60px;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.form__fieldset-indent {
  @media (min-width: $tablet-width) {
    padding-top: 46px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

.form__bg {
  background-color: $light-grey;
  padding-top: 42px;
  padding-bottom: 44px;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    background-color: $white;
  }
}

.form__list {
  margin: 0;
  padding-left: 0;

  &--layout {
    @media (min-width: $desktop-width) {
      display: grid;
      gap: 74px;
      grid-template-columns: 1fr 1fr;
    }
  }
}

.form__item {
  list-style-type: none;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    margin-bottom: 56px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &--contact {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }
}

.form__list-item:first-child {
  padding-top: 12px;
}

.form__list-item {
  list-style-type: none;
  padding-top: 47px;

  &--radio {
    padding-top: 38px;
  }
}

.form__label {
  color: $pink;
  text-transform: uppercase;
  margin-bottom: 17px;
  padding-left: 23px;

  &--contact {
    @media (min-width: $tablet-width) {
      order: 1;
    }
  }

  @media (min-width: $tablet-width) {
    padding-right: 20px;
    padding-bottom: 0;
  }
}

.form__input {
  font-size: 18px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-right: 78px;
  padding-left: 20px;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  position: relative;
  outline: none;

  &:hover {
    border: 2px solid #283645;
  }

  &:active {
    border: 2px solid #d22856;
  }

  &--contact {
    @media (min-width: $tablet-width) {
      width: 100%;
    }
  }

  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }
}

.form__input--contact::after {
  content: "";
  background-image: url("../../img/icon-phone.svg");
  position: absolute;
}

.form__legend {
  line-height: 18px;
  text-transform: uppercase;
  color: $pink;
  padding-left: 31px;
  padding-right: 31px;
  text-align: center;

  &--display {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    width: 350px;
    padding: 0;
  }
}

.form__textarea {
  width: 100%;
  margin-top: 22px;
  padding-top: 22px;
  padding-right: 20px;
  padding-left: 25px;
  margin-bottom: 53px;
}

input::placeholder,
textarea::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: $dark-blue;
}

.form__wrapper {
  margin-top: 52px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
}

.form__btn {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: $white;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-right: 45px;
  padding-left: 45px;
  background-color: $green-btn;
  border: 2px solid $green-btn;
  border-radius: 1px;

  &:hover {
    background: #1c9b5e;
    border: 2px solid #1c9b5e;
    border-radius: 1px;
  }

  &:active {
    background: #1c9b5e;
    border: 2px solid #1c9b5e;
    border-radius: 1px;
    color: rgba(255, 255, 255, 0.3);
    outline: none;
  }
}

.form__desc {
  text-transform: uppercase;
  padding-top: 46px;
  text-align: center;

  span {
    color: $pink;
  }
}
