.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 620px;
    margin: 0;
  }
}

.main-nav__toggle {
  position: absolute;
  background-color: transparent;
  top: 21px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 50px;
  height: 24px;
  border: none;
  cursor: pointer;
  outline: none;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 3px;
  border-radius: 1px;
  background-color: $white;
  box-shadow: 0 8px 0 0 $white, 0 16px 0 0 $white;
  border: none;
}

.main-nav--closed .main-nav__toggle:hover::before {
  background-color: $pink;
  box-shadow:
    0 8px 0 0 $pink,
    0 16px 0 0 $pink;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: $pink;
  opacity: 0.3;
  box-shadow:
    0 8px 0 0 fade($pink, 30%),
    0 16px 0 0 fade($pink, 30%);
}

.main-nav--opened .main-nav__toggle {
  top: 10px;
  left: auto;
  right: 20px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 36px;
    height: 2px;
    background-color: $white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  /*&:active::before,
  &:active::after {
    background-color: fade($pink, 30%);
  }

  /*&:focus::before,
  &:focus::after {
    background-color: $pink;
  }*/
}

.main-nav--closed .main-nav__wrapper {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.main-nav--opened .main-nav__wrapper {
  position: absolute;
  top: 69px;
  right: 0;
  left: 0;
  z-index: 10;

  @media (min-width: $desktop-width) {
    position: relative;
    top: 0;
  }
}

.main-nav--opened .main-nav__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 7px;
  height: 100%;
  box-shadow: inset 4px 0 7px -2px fade($black, 40%);

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}

.main-nav--nojs .main-nav__wrapper {
  position: static;
  min-height: 0;
}

.main-nav--nojs .site-list__item {
  display: block;
}

.main-nav--wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 173px;
  }
}
