.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 620px;
    margin: 0;
  }
}

.main-nav__toggle {
  display: none;
}
