.page-footer {
  padding-top: 40px;
  padding-bottom: 51px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 75px;
  }
}

.page-footer__text {
  line-height: 18px;
  font-weight: normal;
}

.page-footer__list {
  padding-top: 41px;
  padding-bottom: 41px;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: row;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.page-footer__item {
  list-style: none;
}

.page-footer__item:not(:last-child) {
  padding-right: 14px;
}

.page-footer__social {
  fill: $pink;

  &--twitter {
    padding: 17px 15px;
    border: 3px solid  rgba(40, 54, 69, 0.1);
    border-radius: 50px;
  }

  &--facebook {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 19px;
    border: 3px solid  rgba(40, 54, 69, 0.1);
    border-radius: 50px;
  }

  &--youtube {
    padding-top: 18px;
    padding-bottom: 17px;
    padding-left: 19px;
    padding-right: 14px;
    border: 3px solid  rgba(40, 54, 69, 0.1);
    border-radius: 50px;
  }
}

.page-footer__img {
  fill: $pink;
  width: 27px;
  height: 34px;
  vertical-align: middle;
}
