.page-header {
  background-color: $dark-blue;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
  }
}

.page-header__logo {
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    height: 110px;
  }

  @media (min-width: $desktop-width) {
    height: 110px;
  }
}

.site-list__item {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  list-style-type: none;
  padding-top: 25px;
  padding-bottom: 25px;

  a {
    text-decoration: none;
    color: $white;
  }
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 620px;
    margin: 0 auto;
  }
}

.main-nav__toggle {
  display: none;
}
