.photo__item-panorama {
  position: absolute;
  width: 100vw;
  left: -20px;
}

.photo__author-name {
  font-weight: bold;
  line-height: 24px;
  margin: 0;
  padding-left: 17px;
}

.photo__text {
  margin: 0;
  padding-left: 17px;
  padding-bottom: 25px;
}

.photo__time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.photo__text-like {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $pink;
  /*background-image: url("../img/icon-heart.svg");*/
  background-repeat: no-repeat;
  background-position: 17px 5px;
  margin: 0;
  /*padding-left: 48px;*/
  padding-bottom: 26px;
  display: flex;
  flex-direction: row;


  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 30px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 29px;
  }

  &::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.0' id='Layer_1' x='0px' y='0px' width='12.545px' height='11.99px' viewBox='521.939 473.064 12.545 11.99' enable-background='new 521.939 473.064 12.545 11.99' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M528.174,485.055c-0.212,0-0.412-0.091-0.552-0.249c-3.798-4.324-4.644-5.298-4.858-5.572l-0.004,0.0 c-0.529-0.675-0.821-1.518-0.821-2.373c0-2.095,1.704-3.799,3.799-3.799c0.934,0,1.804,0.32,2.484,0.898 c0.696-0.578,1.56-0.898,2.463-0.898c2.095,0,3.799,1.704,3.799,3.799c0,0.909-0.318,1.754-0.896,2.381l-4.86,5.561 C528.587,484.964,528.386,485.055,528.174,485.055L528.174,485.055z M523.929,478.349c0.208,0.255,2.471,2.839,4.243,4.858 l4.323-4.944c0.34-0.369,0.52-0.86,0.52-1.399c0-1.285-1.045-2.331-2.33-2.331c-0.729,0-1.421,0.344-1.9,0.943 c-0.142,0.178-0.353,0.267-0.585,0.275c-0.227-0.003-0.439-0.111-0.575-0.294c-0.441-0.587-1.129-0.925-1.887-0.925 c-1.285,0-2.33,1.046-2.33,2.331c0,0.678,0.275,1.171,0.507,1.467C523.919,478.336,523.925,478.342,523.929,478.349z'/%3E%3C/g%3E%3C/svg%3E");
    padding-right: 18px;
    padding-left: 17px;

    @media (min-width: $tablet-width) {
      padding-right: 30px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 27px;
    }
  }
}

.photo__list {
  list-style: none;
  padding-left: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.photo__item {
  margin-bottom: 20px;

  &--wrapper {
    margin-right: 20px;
    margin-left: 20px;

    @media (min-width: $desktop-width) {
      margin-right: 130px;
      margin-left: 130px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.photo__item:last-child {
  margin-bottom: 49px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.photo__item--bg {
  background-color: $light-grey;
}

.photo__panorama-image {
  width: 100vw;

  /*&--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }

  @media (min-width: $tablet-width) {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }

    &--desktop {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }*/
}

.photo__panorama {
  position: relative;
}

.photo__subtitle {
  width: 140px;
  height: 36px;
  background-color: $pink;
  padding-top: 5px;
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 0;

  p {
    text-transform: uppercase;
    margin: 0;
    font-size: 12px;
    line-height: 24px;
    color: $white;
    font-weight: bold;
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    right: 20px;
    top: 57px;
  }

  @media (min-width: $desktop-width) {
    right: 130px;
    top: 54px;
  }
}
