.price {
  background-color: $light-grey;
  padding-top: 81px;
  padding-bottom: 49px;
}

.price-table {
  padding-bottom: 45px;
  border-spacing: 0;
}

.price-table__heading:nth-child(2) {
  border-right: 2px solid $white;
  border-left: 2px solid $white;
  background-image: url("../img/bg-hit.svg");
  background-repeat: no-repeat;
}

.price-table__heading {
  background-color: $dark-blue;
  border: 2px solid $dark-blue;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  padding-top: 19px;
  padding-right: 100px;
  padding-bottom: 35px;
  padding-left: 101px;
}

.price-table__heading-price {
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
}

.price-table__cell {
  text-transform: uppercase;
  background: $white;
  border: 2px solid #e5e5e5;
  padding-top: 24px;
  padding-bottom: 25px;
  padding-left: 20px;
}

.price-table__image-yes {
  fill: $light-green;
  width: 31px;
  height: 21px;
}

.price-table__image-no {
  fill: $red;
}
