.reviews__list {
  margin: 0;
  padding-left: 0;
}

.reviews__item {
  list-style-type: none;
  text-align: center;
  padding-top: 50px;

  &::before {
    @media (min-width: $desktop-width) {
      content: url("../img/icon-quotes.svg");
    }
  }
}

.reviews__info {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0;
  }
}

.reviews__text {
  padding-right: 0;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 86px;
    padding-left: 86px;
  }
}

.reviews__arrow {
  position: relative;
  margin: 0;

  &::after {
    @media (min-width: $desktop-width) {
      content: url("../img/icon-review-arrow-right.svg");
      position: absolute;
      left: 900px;
      top: 40px;
    }
  }

  &::before {
    @media (min-width: $desktop-width) {
      content: url("../img/icon-review-arrow-left.svg");
      position: absolute;
      right: 900px;
      top: 40px;
    }

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}

.reviews__name {
  font-weight: bold;
  font-size: 18px;
  color: $black;
  font-style: normal;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.reviews__toggles {
  padding-top: 44px;
  padding-bottom: 60px;
}
