$black: #000000;
$dark-blue: #283645;
$white: #ffffff;

.page-main__title{
  background-image: url(../img/iphone-hand-mobile@1x.png), url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center bottom, center;
  height: 400px;
  padding-top: 29px;
  h2{
    font-family: "Open Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: $white;
  }
}

.page-main__os{
  background-color: #1D2631;
}

.page-main__button{
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: $white;
  text-decoration: none;
  border: 3px solid $white;
  border-radius: 29px;
}

.page-main__list{
  .page-main__item--apple{
    background-image: url(../img/logo-apple.svg);
    background-repeat: no-repeat;
  }
  .page-main__item--android{
    background-image: url(../img/logo-android.svg);
    background-repeat: no-repeat;
  }
  .page-main__item--windows{
    background-image: url(../img/logo-microsoft.svg);
    background-repeat: no-repeat;
  }
}

.page-main__text{
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: $white;
}
