.page-footer__text{
font-family: "Open Sans", Arial, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
color: #283645;
}

.page-footer__item{
  list-style: none;
}

