$black: #000000;
$dark-blue: #283645;
$white: #ffffff;

.reviews__item {
  list-style-type: none;
  text-align: center;
}

.reviews__name {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: $black;
}

.reviews__text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: $dark-blue;
}
